# TOPIC: DATETIME

### PROBLEM STATEMENT : Write a function in python that inputs a dataframe and identify which columns have date in them. Using these date columns make new columns which are difference between these columns taking 2 at a time.

In [0]:
import pandas as pd
import numpy as np

In [419]:
df = pd.read_csv("Loan payments data.csv")

In [394]:
df.columns

Index(['Loan_ID', 'loan_status', 'Principal', 'terms', 'effective_date',
       'due_date', 'paid_off_time', 'past_due_days', 'age', 'education',
       'Gender'],
      dtype='object')

In [395]:
df.shape

(500, 11)

In [396]:
df.head()

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female

In [397]:
df["paid_off_date"] = pd.to_datetime(df["paid_off_time"]).dt.date

In [398]:
df["paid_of_time"] = pd.to_datetime(df["paid_off_time"]).dt.time

In [399]:
del df["paid_off_time"]

In [400]:
df.head()

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,past_due_days,age,education,Gender,paid_off_date,paid_of_time
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,NaN,45,High School or Below,male,2016-09-14,19:31:00
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,NaN,50,Bechalor,female,2016-10-07,09:00:00
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,NaN,33,Bechalor,female,2016-09-25,16:58:00
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,NaN,27,college,male,2016-09-22,20:00:00
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,NaN,28,college,female,2016-09-23,21:36:00

In [401]:
df.isnull().sum()

Loan_ID             0
loan_status         0
Principal           0
terms               0
effective_date      0
due_date            0
past_due_days     300
age                 0
education           0
Gender              0
paid_off_date     100
paid_of_time      100
dtype: int64

In [402]:
df.dropna(axis=0, how='any', inplace = True)

In [403]:
df.isnull().sum()

Loan_ID           0
loan_status       0
Principal         0
terms             0
effective_date    0
due_date          0
past_due_days     0
age               0
education         0
Gender            0
paid_off_date     0
paid_of_time      0
dtype: int64

In [404]:
df.shape

(100, 12)

In [405]:
df["effective_date"] = pd.to_datetime(df.effective_date)

In [406]:
df["due_date"] = pd.to_datetime(df.due_date)

In [407]:
df["paid_off_date"] = pd.to_datetime(df.paid_off_date)

In [408]:
df.head()

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,past_due_days,age,education,Gender,paid_off_date,paid_of_time
400,xqd20160401,COLLECTION_PAIDOFF,1000,30,2016-09-09,2016-10-08,2.0,26,college,male,2016-10-10,11:45:00
401,xqd20160402,COLLECTION_PAIDOFF,1000,15,2016-09-09,2016-09-23,4.0,28,college,male,2016-09-27,17:00:00
402,xqd20320403,COLLECTION_PAIDOFF,1000,30,2016-09-09,2016-11-07,13.0,39,college,male,2016-11-20,14:10:00
403,xqd20160404,COLLECTION_PAIDOFF,1000,15,2016-09-09,2016-09-23,5.0,29,Bechalor,male,2016-09-28,15:38:00
404,xqd20190405,COLLECTION_PAIDOFF,800,15,2016-09-09,2016-09-23,3.0,33,High School or Below,male,2016-09-26,17:22:00

In [409]:
df['Diff1'] = df['effective_date']-df['due_date']

In [410]:
df['Diff1'] = df['Diff1'] / np.timedelta64(1,'D')

In [411]:
df['Diff2'] = df['due_date']-df['paid_off_date']

In [412]:
df['Diff2'] = df['Diff2'] / np.timedelta64(1,'D')

In [413]:
df['Diff3'] = df['effective_date']-df['paid_off_date']

In [414]:
df['Diff3'] = df['Diff3'] / np.timedelta64(1,'D')

In [415]:
df[['effective_date','due_date','paid_off_date','Diff1','Diff2','Diff3']]

    effective_date   due_date paid_off_date  Diff1  Diff2  Diff3
400     2016-09-09 2016-10-08    2016-10-10  -29.0   -2.0  -31.0
401     2016-09-09 2016-09-23    2016-09-27  -14.0   -4.0  -18.0
402     2016-09-09 2016-11-07    2016-11-20  -59.0  -13.0  -72.0
403     2016-09-09 2016-09-23    2016-09-28  -14.0   -5.0  -19.0
404     2016-09-09 2016-09-23    2016-09-26  -14.0   -3.0  -17.0
..             ...        ...           ...    ...    ...    ...
495     2016-09-12 2016-10-11    2016-10-14  -29.0   -3.0  -32.0
496     2016-09-12 2016-09-26    2016-10-10  -14.0  -14.0  -28.0
497     2016-09-12 2016-09-26    2016-09-29  -14.0   -3.0  -17.0
498     2016-09-12 2016-11-10    2016-11-11  -59.0   -1.0  -60.0
499     2016-09-12 2016-10-11    2016-10-19  -29.0   -8.0  -37.0

[100 rows x 6 columns]